$font-stack: Helvetica, sans-serif;
$primary-color: #202124;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font-stack;
  background-color: #fff;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;}

.navbar a {
  // display: block;
  color: #000;
  padding: 25px 20px;
  text-decoration: none;
}

.navbar .advanced-search-tap, .navbar .images-tap{
  float: right;
}

.navbar .nav-brand {
  float: left;
  width: 7%;
  // display: inline-block;
}

.nav-brand img {
  min-width: 50px;
  height: auto;
  width: 100%;
  // width: 14%;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .page-title {
    float: left;
    width: 100%;
    padding: 30px 0 25px 80px;
    color: #d93025;
    font-size: 25px;
  }
  
.parent-container {
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.search-aria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  max-width: 600px;
  padding: 50px;

}

.Google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.Google-logo img {
  min-width: 250px;
  height: auto; /* Maintain the image's aspect ratio */
  width: 52%; /* Make the image fill the container width */
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 80px 1fr 120px;
  grid-template-rows: 80px;
  grid-gap: 10px;
}

.item1 {
  grid-row: 1;
  grid-column: 1 / 3;
}

.item2 {
  grid-row: 1;
  grid-column: 3;
}