$font-stack: Helvetica, sans-serif;
$primary-color: #202124;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font-stack;
  background-color: #fff;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

.navbar a {
  color: #000;
  padding: 25px 20px;
  text-decoration: none;
}

.navbar .advanced-search-tap, .navbar .images-tap{
  float: right;
}

.navbar .nav-brand {
  float: left;
  width: 7%;
}

.nav-brand img {
  min-width: 50px;
  height: auto;
  width: 100%;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .page-title {
    float: left;
    width: 100%;
    padding: 30px 0 25px 80px;
    color: #d93025;
    font-size: 25px;
  }
  
.parent-container {
  padding: 50px;

}

.Google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.Google-logo img {
  min-width: 250px;
  height: auto; /* Maintain the image's aspect ratio */
  width: 52%; /* Make the image fill the container width */
}

input[type="text"] {
  font-size: 13px;
  height: 25px;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
}

.form-section {
  width: 100%;
  padding-bottom: 20px;
  max-width: 1000px;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 1fr 390px;
  grid-template-rows: 80px;
  grid-gap: 10px;
  border-bottom: 1px solid #ebebeb;
}

.section1-wrapper {
  .item1 {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  
  .item2 {
    grid-row: 1;
    grid-column: 3;
  }
  
  .item15 {
    grid-row: 6;
    grid-column: 1;
  }
  .item16 {
    grid-row: 6;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;

    input{
      flex-grow: 1;
      // width: 100%;
    }
    
    p{
      padding: 10px;
      display: inline;
    }
  }
  .item17 {
    grid-row: 6;
    grid-column: 3;
  }

  :last-child {
    grid-row: 7;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;

    input[type="submit"] {  
      min-width: 120px;
      background-color: #357ae8;
      border: 1px solid #2f5bb7;
      color: #fff;
      border-radius: 2px;
      cursor: default;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      outline: 0;
      padding: 10px;
      font-size: 14px;
    }
  }
}

// .section2-wrapper {

//   // align-items: center;
//   // justify-items: end;
//   .item1 {
//     grid-row: 1;
//     grid-column: 1 / 4;
//   }

//   select {
//     border-radius: 2px;
//     background-color: #f5f5f5;
//     border: 1px solid #dcdcdc;
//     color: #444;
//     cursor: default;
//     font-size: 11px;
//     font-weight: bold;
//     line-height: 27px;
//     list-style: none;
//     min-width: 46px;
//     outline: none;
//     text-decoration: none;
//     height: 27px;
//   }
//   a {
//     text-decoration: none;
//     &:visited {
//       color: #12c;
//     }
//   }

//   // submit button div
  

// }